.modal {
	display: none;
	position: absolute;
	background: transparent;
	overflow: hidden;
}

.modal.visible {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	min-height: 100%;
	left: 0;
	right: 0;
	top: 0;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);
	transition: background 0.35s;
	z-index: 110;
}

#floatingBarsG{
position:relative;
width:51px;
height:64px;
margin:auto;
}

.blockG{
position:absolute;
background-color:rgb(255,255,255);
width:8px;
height:20px;
border-radius:7px 7px 0 0;
-o-border-radius:7px 7px 0 0;
-ms-border-radius:7px 7px 0 0;
-webkit-border-radius:7px 7px 0 0;
-moz-border-radius:7px 7px 0 0;
transform:scale(0.4);
-o-transform:scale(0.4);
-ms-transform:scale(0.4);
-webkit-transform:scale(0.4);
-moz-transform:scale(0.4);
animation-name:fadeG;
-o-animation-name:fadeG;
-ms-animation-name:fadeG;
-webkit-animation-name:fadeG;
-moz-animation-name:fadeG;
animation-duration:0.732s;
-o-animation-duration:0.732s;
-ms-animation-duration:0.732s;
-webkit-animation-duration:0.732s;
-moz-animation-duration:0.732s;
animation-iteration-count:infinite;
-o-animation-iteration-count:infinite;
-ms-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
animation-direction:normal;
-o-animation-direction:normal;
-ms-animation-direction:normal;
-webkit-animation-direction:normal;
-moz-animation-direction:normal;
}

#rotateG_01{
left:0;
top:23px;
animation-delay:0.2695s;
-o-animation-delay:0.2695s;
-ms-animation-delay:0.2695s;
-webkit-animation-delay:0.2695s;
-moz-animation-delay:0.2695s;
transform:rotate(-90deg);
-o-transform:rotate(-90deg);
-ms-transform:rotate(-90deg);
-webkit-transform:rotate(-90deg);
-moz-transform:rotate(-90deg);
}

#rotateG_02{
left:7px;
top:8px;
animation-delay:0.366s;
-o-animation-delay:0.366s;
-ms-animation-delay:0.366s;
-webkit-animation-delay:0.366s;
-moz-animation-delay:0.366s;
transform:rotate(-45deg);
-o-transform:rotate(-45deg);
-ms-transform:rotate(-45deg);
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
}

#rotateG_03{
left:21px;
top:2px;
animation-delay:0.4525s;
-o-animation-delay:0.4525s;
-ms-animation-delay:0.4525s;
-webkit-animation-delay:0.4525s;
-moz-animation-delay:0.4525s;
transform:rotate(0deg);
-o-transform:rotate(0deg);
-ms-transform:rotate(0deg);
-webkit-transform:rotate(0deg);
-moz-transform:rotate(0deg);
}

#rotateG_04{
right:7px;
top:8px;
animation-delay:0.549s;
-o-animation-delay:0.549s;
-ms-animation-delay:0.549s;
-webkit-animation-delay:0.549s;
-moz-animation-delay:0.549s;
transform:rotate(45deg);
-o-transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
}

#rotateG_05{
right:0;
top:23px;
animation-delay:0.6355s;
-o-animation-delay:0.6355s;
-ms-animation-delay:0.6355s;
-webkit-animation-delay:0.6355s;
-moz-animation-delay:0.6355s;
transform:rotate(90deg);
-o-transform:rotate(90deg);
-ms-transform:rotate(90deg);
-webkit-transform:rotate(90deg);
-moz-transform:rotate(90deg);
}

#rotateG_06{
right:7px;
bottom:6px;
animation-delay:0.732s;
-o-animation-delay:0.732s;
-ms-animation-delay:0.732s;
-webkit-animation-delay:0.732s;
-moz-animation-delay:0.732s;
transform:rotate(135deg);
-o-transform:rotate(135deg);
-ms-transform:rotate(135deg);
-webkit-transform:rotate(135deg);
-moz-transform:rotate(135deg);
}

#rotateG_07{
bottom:0;
left:21px;
animation-delay:0.8185s;
-o-animation-delay:0.8185s;
-ms-animation-delay:0.8185s;
-webkit-animation-delay:0.8185s;
-moz-animation-delay:0.8185s;
transform:rotate(180deg);
-o-transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
-moz-transform:rotate(180deg);
}

#rotateG_08{
left:7px;
bottom:6px;
animation-delay:0.905s;
-o-animation-delay:0.905s;
-ms-animation-delay:0.905s;
-webkit-animation-delay:0.905s;
-moz-animation-delay:0.905s;
transform:rotate(-135deg);
-o-transform:rotate(-135deg);
-ms-transform:rotate(-135deg);
-webkit-transform:rotate(-135deg);
-moz-transform:rotate(-135deg);
}



@keyframes fadeG{
0%{
background-color: #f3f3f3;
}

100%{
background-color:rgb(255,255,255);
}
}

@-o-keyframes fadeG{
0%{
background-color: #f3f3f3;
}

100%{
background-color:rgb(255,255,255);
}
}

@-ms-keyframes fadeG{
0%{
background-color: #f3f3f3;
}

100%{
background-color:rgb(255,255,255);
}
}

@-webkit-keyframes fadeG{
0%{
background-color: #f3f3f3;
}

100%{
background-color:rgb(255,255,255);
}
}

@-moz-keyframes fadeG{
0%{
background-color: #f3f3f3;
}

100%{
background-color:rgb(255,255,255);
}
}